<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="profile-form" 
    action="/profiles/<%= profile._id %>?_method=PUT" 
    method="POST"
  >
    <label for="bio-content">Bio:</label>
    <input 
        type="text"
        name="bio" 
        value="<%= profile.bio %>" 
        autocomplete="off"
      >
    <button type="submit">Save</button>

  </form>
</main>

<%- include('../partials/footer') %>