<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>People</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody>
      <% movies.forEach((movie) => { %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profil.bio %></td>
        <td><a href="/profiles/<%= profile._id %>">View</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>