<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>People</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody>
      <% movies.forEach((movie) => { %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.releaseYear %></td>
        <td><a href="/movies/<%= movie._id %>">DETAILS</a></td>
        <td>
          <form 
            action="/movies/<%= movie._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>