<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Name: </div>
    <div><%= profile.name %></div>
    <div>Bio: </div>
    <div><%= profile.bio %></div>
  </section>
	

  <form 
    id="add-update-form"
    action="/updates"
    method="POST"
  >
    <label for="content-textarea">Update:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Post Update</button>
  </form>

  <h2>Updates</h2>
  <table>
    <tbody>
      <% updates.forEach(update => { %>
      <tr>
        <td><%= update.content %></td>
        <td><a href="/updates/<%= update._id %>">DETAILS</a></td>
        <td>
          <form action="/updates/<%= update._id %>?_method=DELETE" method="POST">
            <button>X</button>
          </form>
        </td>
      </tr>
      <% }) %>
      </tbody>
    </table>


</main>


<%- include('../partials/footer') %>