<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main>
  <h1 class="profile-name"><%= title %></h1>
  <% if (profile.equals(user?.profile._id)) { %>
  <a href="/profiles/<%= profile._id %>/edit">
    <button class="button">Edit Profile</button>
  </a>
  <% } %>
  <section>
    <div class="profile-section">
      <div class="profile-name">Name: <%= profile.name %></div>
      <div class="profile-bio">Bio: <%= profile.bio %></div>
    </div>
	

  <% if (profile.equals(user?.profile._id)) { %>
    <form 
    id="add-update-form"
    action="/updates"
    method="POST"
  >
    <label for="content-textarea">Update:</label>
    <textarea name="content" class="text-field" id="content-textarea"></textarea>
    <button class="button" type="submit">Post Update</button>
  </form>
  <% } %>

  

  <h2>Updates</h2>
  <table>
    <tbody>
      <% updates.forEach(update => { %>
      <tr>
        <td><%= update.content %></td>
        <td><a href="/updates/<%= update._id %>">DETAILS</a></td>
        <td>
          <form action="/updates/<%= update._id %>?_method=DELETE" method="POST">
            <button class="button">X</button>
          </form>
        </td>
      </tr>
      <% }) %>
      </tbody>
    </table>


</main>


<%- include('../partials/footer') %>