<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>

    <div>
      Debug info: 
      update.owner = <%= update.owner %>,
      user.profile._id = <%= user?.profile?._id %>
    </div>

    <div>Update: </div>
		<div>
      <%= update.owner %> 
      <%= update.content %>
      <% if (update.owner.equals(user?.profile._id)) { %>        
      <a href="/updates/<%= update._id %>/edit">
        <button>Edit Update</button>
      </a>
      <% } %>
    </div>
</main>


<%- include('../partials/footer') %>