<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>

    <div>
      Posted by: <%= update.owner.name %> 
    </div>
		<div>
      <%= update.owner.name %> 
      <%= update.content %>
      <% if (update.owner.equals(user?.profile._id)) { %>        
      <a href="/updates/<%= update._id %>/edit">
        <button>Edit Update</button>
      </a>
      <% } %>
    </div>
    <% if (user) { %>
      <form action="/updates/<%= update._id %>/comments" method="POST">
        <textarea name="content" placeholder="Write your comment"></textarea>
        <button class="btn" type="submit">
          Post Comment
        </button>
      </form>
    <% } %>

    <% if (update.comments.length) { %>
      <table>
        <tbody>
          <% update.comments.forEach(function(comment) { %>
            <tr>
              <td><%= comment.owner %></td>
              <td><%= comment.content %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No Comments Yet</h3>
    <% } %>
  
</main>


<%- include('../partials/footer') %>