<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main>
      <a href="/profiles/<%= update.owner._id %>" class="back-button">Back</a>
      <h1 class="main-title"><%= title %></h1>
  <section class="update-section">
    <div class="update-show-card">
      <p class="update-posted-by">Posted by: <%= update.owner.name %></p>
      <div class="update-content"><%= update.content %></div>
      <% if (update.owner.equals(user?.profile._id)) { %>        
      <a href="/updates/<%= update._id %>/edit" class="button-link">
        <button class="postbutton">Edit Update</button>
      </a>
      <% } %>
    </div>

    <% if (user) { %>
      <form action="/updates/<%= update._id %>/comments" method="POST" class="comment-form">
        <textarea name="content" class="text-field" placeholder="Write your comment"></textarea>
        <button class="postbutton" type="submit">
          Post Comment
        </button>
      </form>
    <% } %>

    <div class="comments-section">
      <% if (update.comments.length) { %>
        <h3 class="update-posted-by">Comments:</h3>
        <% update.comments.forEach(function(comment) { %>
          <div class="comment-card">
            <p class="comment-content"><%= comment.content %></p>
          </div>
        <% }) %>
      <% } else { %>
        <h3>No Comments Yet!</h3>
      <% } %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
